@using Microsoft.AspNetCore.Identity
@using XI.Portal.Auth.Contract.Models
@inject SignInManager<PortalIdentityUser> SignInManager
@inject UserManager<PortalIdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navProfileDropdown">
                <a class="dropdown-item" asp-controller="Profile" asp-action="Manage">Manage Profile</a>
                <div class="dropdown-divider"></div>
                <form class="form-inline" asp-controller="Identity" asp-action="Logout" method="post">
                    <button class="dropdown-item" type="submit">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Identity" asp-action="LoginWithXtremeIdiots" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">XtremeIdiots Login</button>
            </form>
        </li>
    }
</ul>