@using ElCamino.AspNetCore.Identity.AzureTable.Model
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profile" asp-action="Manage" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Identity" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Identity" asp-action="LoginWithXtremeIdiots">
                <button type="submit" class="nav-link btn btn-link text-dark">XtremeIdiots Login</button>
            </form>
        </li>
    }
</ul>