@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Models
@model List<AdminActionDto>

@{
    ViewData["Title"] = "My Admin Actions";
}

<div class="wrapper wrapper-content animated fadeInRight">

    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h1 style="text-align: center">You have not performed any admin actions</h1>
                    </div>
                </div>
            </div>
        </div>
    }

    @await Component.InvokeAsync("AdminActions", new {adminActions = Model, linkToPlayer = true})

</div>