@{
    ViewData["Title"] = "Demos Index";
    var dataUrl = "/Demos/GetDemoListAjax";

    if (ViewData["GameType"] != null)
    {
        ViewData["Title"] = ViewData["GameType"] + " Demos Index";
        dataUrl = "/Demos/GetDemoListAjax/" + ViewData["GameType"];
    }
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <table id="dataTable">
                            <thead>
                                <tr>
                                    <td>Game</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td>Map</td>
                                    <td>Mod</td>
                                    <td>GameType</td>
                                    <td>Server</td>
                                    <td>Size</td>
                                    <td>Uploaded By</td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                order: [[2, "desc"]],
                ajax: {
                    url: '@dataUrl',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        name: 'game',
                        sortable: true,
                        render: function (data, type, row) {
                            return gameTypeIcon(row['game']);
                        }
                    },
                    {
                        name: 'name',
                        sortable: true,
                        render: function (data, type, row) {
                            return downloadDemoLink(row['name'], row['demoId']);
                        }
                    },
                    {
                        data: 'date',
                        name: 'date',
                        sortable: true
                    },
                    {
                        data: 'map',
                        name: 'map',
                        sortable: false
                    },
                    {
                        data: 'mod',
                        name: 'mod',
                        sortable: false
                    },
                    {
                        data: 'gameType',
                        name: 'gameType',
                        sortable: false
                    },
                    {
                        data: 'server',
                        name: 'server',
                        sortable: false
                    },
                    {
                        data: 'size',
                        name: 'size',
                        sortable: false
                    },
                    {
                        data: 'uploadedBy',
                        name: 'uploadedBy',
                        sortable: true
                    },
                    {
                        sortable: false,
                        render: function () {
                            return "";
                        }
                    }
                ]
            });
        });

    </script>
}