@model List<XI.Portal.Players.Dto.PlayerLocationDto>

@{
    ViewData["Title"] = "Player Map";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-12">

            <div class="ibox">
                <div class="ibox-title">
                    Players Online in the last 24 Hours (@Model.Count) across all tracked game servers
                </div>

                <div class="ibox-content">
                    <div id="map" style="height: 600px; width: 100%;"></div>
                </div>
            </div>

        </div>
    </div>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    <script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 2,
                    center: { lat: 0.00, lng: 0.00 }
                });

            var locations = [
                @foreach (var location in Model.Where(location => location.GeoLocation != null))
                {
                    <text>
                        ['Player', @location.GeoLocation.Latitude, @location.GeoLocation.Longitude, '@location.GameType.ToString()'],
                    </text>
                }
            ];

            var count;
            for (count = 0; count < locations.length; count++) {
                new google.maps.Marker({
                    position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                    map: map,
                    title: locations[count][0],
                    icon: {
                        url: "/images/game-icons/" + locations[count][3] + ".png"
                    }
                });
            }
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTtnBCPGgfMxfohkzdaSsJEzC_y40bcpY&signed_in=false&callback=initMap"></script>
}