@using XI.CommonTypes
@using XI.CommonTypes.Extensions
@{
    ViewData["Title"] = "Global Players Index";
    var dataUrl = "/Players/GetPlayersAjax";

    if (ViewData["GameType"] != null)
    {
        ViewData["Title"] = ((GameType)ViewData["GameType"]).DisplayName() + " Players Index";
        dataUrl = "/Players/GetPlayersAjax/" + ViewData["GameType"];
    }
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <table id="dataTable">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Guid</td>
                                    <td>First Seen</td>
                                    <td>Last Seen</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function() {

            $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                order: [[3, "desc"]],
                ajax: {
                    url: '@dataUrl',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    "data": function(d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'username',
                        name: 'username',
                        sortable: true,
                        render: function(data, type, row) {
                            return renderPlayerName(row['gameType'], row['username']);
                        }
                    },
                    {
                        data: 'guid',
                        name: 'guid',
                        sortable: false
                    },
                    {
                        data: 'firstSeen',
                        name: 'firstSeen',
                        sortable: true
                    },
                    {
                        data: 'lastSeen',
                        name: 'lastSeen',
                        sortable: true
                    }
                ]
            });

        });

    </script>
}