@{
    ViewData["Title"] = "Global ChatLog";
    var dataUrl = "/ServerAdmin/GetChatLogAjax";
    var showServer = true;

    if (ViewData["GameType"] != null)
    {
        ViewData["Title"] = ViewData["GameType"] + " ChatLog Index";
        dataUrl = "/ServerAdmin/GetGameChatLogAjax/" + ViewData["GameType"];
    }

    if (ViewData["GameServerId"] != null)
    {
        ViewData["Title"] = "Server ChatLog Index";
        dataUrl = "/ServerAdmin/GetServerChatLogAjax/" + ViewData["GameServerId"];
        showServer = false;
    }
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                        <div class="ibox-tools">
                            <button id="showLockedMessagesBtn" class="btn btn-xs btn-outline-primary">
                                <i class="fa fa-lock"></i> Show Locked Messages
                            </button>
                            <button id="showAllMessagesBtn" class="btn btn-xs btn-outline-secondary">
                                <i class="fa fa-list"></i> Show All Messages
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="dataTable">
                            <thead>
                                <tr>
                                    <td>Timestamp</td>
                                    <td>Username</td>
                                    <td>Type</td>
                                    <td>Message</td>
                                    @if (showServer)
                                    {
                                        <td>Server</td>
                                    }
                                    <td>Status</td>
                                    <td>Link</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    <form id="__af" method="post" style="display:none">@Html.AntiForgeryToken()</form>
    <script type="text/javascript">
        var dataTable;

        $(document).ready(function () {
            dataTable = $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                stateSave: true,
                order: [[1, "desc"]],
                ajax: {
                    url: '@dataUrl',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    beforeSend: function (xhr) {
                        var tokenInput = document.querySelector('input[name="__RequestVerificationToken"]');
                        var antiForgeryToken = tokenInput ? tokenInput.value : '';
                        if (antiForgeryToken) {
                            xhr.setRequestHeader('RequestVerificationToken', antiForgeryToken);
                        }
                    },
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'timestamp',
                        name: 'timestamp',
                        sortable: true
                    },
                    {
                        data: 'username',
                        name: 'username',
                        sortable: false,
                        render: function (data, type, row) {
                            return renderPlayerName(row['player']['gameType'], row['username'], row['playerId']);
                        }
                    },
                    {
                        data: 'chatType',
                        name: 'chatType',
                        sortable: false
                    },
                    {
                        data: 'message',
                        name: 'message',
                        sortable: false
                    },
                    @if (showServer)
                    {
                        <text>
                            {
                                data: 'serverName',
                            name: 'serverName',
                            sortable: false,
                            render: function(data, type, row) {
                                                            return row['gameServer']['liveTitle'];
                                                        }   
                                                    },
                        </text>
                                }
                    {
                        data: 'locked',
                        name: 'locked',
                        sortable: false,
                        render: function (data, type, row) {
                            if (row['locked']) {
                                return '<span class="label label-warning"><i class="fa fa-lock"></i></span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: 'chatMessageId',
                        name: 'chatMessageId',
                        sortable: false,
                        render: function (data, type, row) {
                            return chatLogUrl(row['chatMessageId']);
                        }
                    }
                ]
            });

            // Button handlers for filtering
            $('#showLockedMessagesBtn').click(function () {
                dataTable.search('locked:').draw();
            });

            $('#showAllMessagesBtn').click(function () {
                dataTable.search('').draw();
            });
        });

    </script>
}
