@model XI.Portal.Servers.Dto.FileMonitorDto

@{
    ViewData["Title"] = "Create File Monitor";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ServerId" class="control-label"></label>
                                <select asp-for="ServerId" class="form-control" asp-items="ViewBag.GameServers"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FilePath" class="control-label"></label>
                                <input asp-for="FilePath" class="form-control"/>
                                <span asp-validation-for="FilePath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                    <div class="ibox-footer">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}