@model List<ElCamino.AspNetCore.Identity.AzureTable.Model.IdentityUser>

@{
    ViewData["Title"] = "Users";
}

<row class="row">
    <div class="container-fluid">
        <div class="card card-header">
            Users
        </div>
        <div class="card card-body">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>

                        <td>
                            <form class="form-inline" asp-controller="User" asp-action="LogUserOut" method="post">
                                <input id="id" name="id" type="hidden" value="@user.Id"/>
                                <button class="btn btn-link" type="submit">Logout User</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</row>