@{
    ViewData["Title"] = "Users";
}

<row class="row">
    <div class="container-fluid">
        <div class="card card-body">
            <table id="dataTable">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</row>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function() {
            $('#dataTable').DataTable({
                processing: true,
                //order: [[5, "desc"]],
                ajax: {
                    url: '/User/GetUsersAjax',
                    dataSrc: 'data'
                },
                columns: [
                    {
                        data: 'id',
                        name: 'id',
                        sortable: true
                    },
                    {
                        data: 'username',
                        name: 'username',
                        sortable: true
                    },
                    {
                        data: 'email',
                        name: 'email',
                        sortable: true
                    },
                    {
                        render: function(data, type, row) {
                            return '<form class="form-inline" method="post" action="/User/LogUserOut" method="post">' +
                                '<input id="id" name="id" type="hidden" value="' +
                                row['id'] +
                                '\"/>' +
                                '<button class="btn btn-link" type="submit">Logout User</button>' +
                                '@Html.AntiForgeryToken()' +
                                '</form>';
                        }
                    }
                ]
            });
        });

    </script>
}