<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <strong>Copyright</strong> Fraser Molyneux &copy; @DateTime.UtcNow.Year
        </div>
        <div class="col-md-6 text-right">
            <div class="links">
                <a href="https://xtremeidiots.com" target="_blank" rel="noopener noreferrer" title="XtremeIdiots Website">
                    <i class="fa fa-globe fa-fw" aria-hidden="true"></i> XtremeIdiots
                </a>
                <span class="mx-2">|</span>
                <a href="https://www.xtremeidiots.com/forums/" target="_blank" rel="noopener noreferrer" title="Forums">
                    <i class="fa fa-comments fa-fw" aria-hidden="true"></i> Forums
                </a>
            </div>
        </div>
    </div>
</footer>