@model List<XI.Portal.Servers.Dto.GameServerDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<table style="margin: auto">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 2px;">
                <div style="text-align: center;">
                    @Html.Raw(item.HtmlBanner)
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>