@{
    ViewData["Title"] = "Portal Home";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <script type="text/javascript" src="https://www.xtremeidiots.com/applications/cms/interface/external/external.js"
        id="ipsWidgetLoader"></script>

    <section id="servers" class="container features landing-page">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Over 25+ Servers<br /> <span class="navy"> Across 12+ Different Games</span> </h1>
                <p>We also play together on server-less games with TeamSpeak and Discord</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 text-center fadeInLeft">
                <div class="m-t-lg">
                    <i class="fa fa-globe features-icon"></i>
                    <h2>Clubs</h2>
                    <p>Join the club for your favourite game! Our forums have dedicated areas for each of the games that
                        we play</p>
                    <p>
                        <a class="navy-link" href="https://www.xtremeidiots.com/clubs/" role="button"
                            target="_blank">View Clubs &raquo;</a>
                    </p>
                </div>
            </div>


            <div class="col-md-6 text-center">
                <div width="100%">
                    @await Component.InvokeAsync("GameServerList")
                </div>
            </div>


            <div class="col-md-3 text-center fadeInRight">
                <div>
                    <i class="fa fa-download features-icon"></i>
                    <h2>Downloads</h2>
                    <p>Download the latest maps and mods for our servers from our downloads website</p>
                    <p>
                        <a class="navy-link" href="https://www.xtremeidiots.com/files/" role="button"
                            target="_blank">View Downloads &raquo;</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <br />
                <p>Connect with us through one of our communication channels..</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h2>Forums</h2>
                <p>We run a longstanding forum with over 750,000 posts! Join to stay in touch with the community and
                    take part</p>
                <p>
                    <a class="navy-link" href="https://www.xtremeidiots.com" role="button">Visit Forums &raquo;</a>
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Teamspeak</h2>
                <p>Join our Teamspeak server to take part in the community; you don't need to be in one of our servers
                    to join. Come and meet us!</p>
                <p>
                    <a class="navy-link" href="#" role="button">Details &raquo;</a>
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Discord</h2>
                <p>Join our Discord server! Very popular with the Minecraft crowd but anyone can join in.</p>
                <p>
                    <a class="navy-link" href="#" role="button">Details &raquo;</a>
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Steam</h2>
                <p>We have a Steam community page, join to find someone to play with!</p>
                <p>
                    <a class="navy-link" href="https://steamcommunity.com/groups/XtremeIdiotsClan" role="button">Visit
                        Page &raquo;</a>
                </p>
            </div>
        </div>

    </section>

    <section id="community" class="container services landing-page">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Discover A Great Community!</h1>
                <p>Join in and take part in one of the largest PC Gaming communities! </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 10px">
                @* ReSharper disable once UnknownCssClass *@
                <div id="block_8a78fabcd08a26679d4745a40a994571" data-blockID="ipb4-latestposts"
                    class="ipsExternalWidget" data-inheritStyle="true"></div>
            </div>
        </div>
    </section>

    <section id="donations" class="container landing-page">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Supported By Community Donations</h1>
                <p>We are completely supported by donations and volunteers for administrating our servers</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 10px">
                @* ReSharper disable once UnknownCssClass *@
                <div id="block_83a1c8d59fdd77f7047dcfad6f75ab72" data-blockID="portal-donations-goal"
                    class="ipsExternalWidget" data-inheritStyle="true"></div>
            </div>
        </div>
    </section>

    <section id="team" class="gray-section contact landing-page">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Our Support Team</h1>
                    <p>We have a team of over 80 admins that support our game servers and community</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <p>If you have any issues on our servers or simply want to tell us how great they are - sign up to
                        our forums and tell us.</p>
                    <p>
                        <a class="navy-link" href="https://www.xtremeidiots.com/" role="button" target="_blank">View
                            Forums &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>