@using XI.CommonTypes
@using XI.CommonTypes.Extensions
@{
    ViewData["Title"] = "Global ChatLog";
    var dataUrl = "/ServerAdmin/GetChatLogAjax";

    if (ViewData["GameType"] != null)
    {
        ViewData["Title"] = ((GameType) ViewData["GameType"]).DisplayName() + " ChatLog Index";
        dataUrl = "/ServerAdmin/GetGameChatLogAjax/" + ViewData["GameType"];
    }

    if (ViewData["ServerId"] != null)
    {
        ViewData["Title"] = "Server ChatLog Index";
        dataUrl = "/ServerAdmin/GetServerChatLogAjax/" + ViewData["ServerId"];
    }
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <table id="dataTable">
                            <thead>
                            <tr>
                                <td>Timestamp</td>
                                <td>Username</td>
                                <td>Type</td>
                                <td>Message</td>
                                <td>Link</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function() {
            $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                order: [[1, "desc"]],
                ajax: {
                    url: '@dataUrl',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    "data": function(d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'timestamp',
                        name: 'timestamp',
                        sortable: true
                    },
                    {
                        data: 'username',
                        name: 'username',
                        sortable: false,
                        render: function(data, type, row) {
                            return renderPlayerName(row['gameType'], row['username'], row['playerId']);
                        }
                    },
                    {
                        data: 'chatType',
                        name: 'chatType',
                        sortable: false
                    },
                    {
                        data: 'message',
                        name: 'message',
                        sortable: false
                    },
                    {
                        data: 'chatLogId',
                        name: 'chatLogId',
                        sortable: false,
                        render: function(data, type, row) {
                            return chatLogUrl(row['chatLogId']);
                        }
                    }
                ]
            });
        });

    </script>
}