@using XI.Portal.Web.Extensions
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Models;
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Models.GameServers
@model GameServerDto

@{
    ViewData["Title"] = "Rcon - " + Html.ServerName(Model.Title, null);
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-warning" role="alert">
        <i class="fa fa-info-circle"></i> THIS FEATURE IS CURRENTLY UNDER DEVELOPMENT AND IS EXPERIMENTAL
    </div>

    <row class="row">

        <div class="col-8">
            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <table id="dataTable">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Guid
                                </th>
                                <th>
                                    Ip Address
                                </th>
                                <th>
                                    Rate
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Server Control</h5>
                </div>
                <div class="ibox-content">
                    <button id="restartServer" class="btn btn-primary" type="submit">
                        <i class="fa fa-refresh"></i> Restart Server
                    </button>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Map Control</h5>
                </div>
                <div class="ibox-content">

                    <button id="restartMap" class="btn btn-primary" type="submit">
                        <i class="fa fa-refresh"></i> Restart Map
                    </button>

                    <button id="fastRestartMap" class="btn btn-primary" type="submit">
                        <i class="fa fa-refresh"></i> Fast Restart Map
                    </button>

                    <button id="nextMap" class="btn btn-primary" type="submit">
                        <i class="fa fa-forward"></i> Next Map
                    </button>

                </div>
            </div>

        </div>

    </row>


</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/toastr/toastr.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css"/>
    </environment>
}

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <environment names="Development">
        <script src="~/lib/toastr/toastr.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#restartServer").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/ServerAdmin/RestartServer/@Model.Id",
                    success: function(result) {
                        alert("Success: " + result.message);
                    },
                    error: function(result) {
                        alert("Error: " + result.message);
                    }
                });
            });

            $("#restartMap").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/ServerAdmin/RestartMap/@Model.Id",
                    success: function(result) {
                        alert("Success: " + result.message);
                    },
                    error: function(result) {
                        alert("Error: " + result.message);
                    }
                });
            });

            $("#fastRestartMap").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/ServerAdmin/FastRestartMap/@Model.Id",
                    success: function(result) {
                        alert("Success: " + result.message);
                    },
                    error: function(result) {
                        alert("Error: " + result.message);
                    }
                });
            });

            $("#nextMap").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/ServerAdmin/NextMap/@Model.Id",
                    success: function(result) {
                        alert("Success: " + result.message);
                    },
                    error: function(result) {
                        alert("Error: " + result.message);
                    }
                });
            });

            $('#dataTable').DataTable({
                processing: true,
                pageLength: 50,
                stateSave: true,
                order: [[0, "asc"]],
                ajax: {
                    url: '/ServerAdmin/GetRconPlayers/@Model.Id',
                    dataSrc: 'data',
                    error: handleAjaxError
                },
                columns: [
                    {
                        data: 'num',
                        name: 'num',
                        sortable: true
                    },
                    {
                        data: 'name',
                        name: 'name',
                        sortable: true,
                        render: function(data, type, row) {
                            return escapeHtml(row['name']);
                        }
                    },
                    {
                        data: 'guid',
                        name: 'guid',
                        sortable: false
                    },
                    {
                        data: 'ipAddress',
                        name: 'ipAddress',
                        sortable: false
                    },
                    {
                        data: 'rate',
                        name: 'rate',
                        sortable: false
                    },
                    {
                        sortable: false,
                        render: function(data, type, row) {
                            return "";
                            @*return '<a href="/ServerAdmin/KickPlayer/@Model.ServerId?num=' + row['num'] + '">Kick Player</a> | <a href="/ServerAdmin/BanPlayer/' + row['num'] + '">Ban Player</a>';*@
                        }
                    }
                ]
            });
        });

        setInterval(function() {
                $('#dataTable').DataTable().ajax.reload();
            },
            10000);

    </script>
}