@using XtremeIdiots.Portal.AdminWebApp.Models
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Constants
@model AdminActionViewModel

@{
    ViewData["Title"] = "Create " + Model.Type + " for " + Model.PlayerDto.Username;
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i> Enter the reason for your @Model.Type in the text box below, you can use rich text (bold/italic etc.) however images and video are not supported.
        When you click the create button a forum topic will automatically be posted for you in the relevant section.

        @if (Model.Type == AdminActionType.Ban || Model.Type == AdminActionType.TempBan)
        {
            <text>
                @Model.Type's may take up to an hour to be applied to all of the servers.
            </text>
        }

    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>

                <div class="ibox-content">
                    <form asp-action="Create">
                        <input type="hidden" asp-for="PlayerId"/>
                        <input type="hidden" asp-for="Type"/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <textarea id="summernote" asp-for="Text" class="form-control"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>

                        @if (Model.Type == AdminActionType.TempBan)
                        {
                            <div class="form-group">
                                <label asp-for="Expires"></label>
                                <input asp-for="Expires" class="form-control"/>
                                <span asp-validation-for="Expires" class="text-danger"></span>
                            </div>
                        }

                        <div class="form-group">
                            <input type="submit" value="Create @Model.Type" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css"/>
    </environment>

}

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/summernote/summernote-bs4.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#summernote').summernote({
                focus: true,
                styleWithSpan: false,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol']],
                    ['insert', ['link']]
                ],
                height: 350
            });

        });

    </script>
}