@using XtremeIdiots.Portal.Web.ViewModels
@model PushMapToRemoteViewModel


<form asp-action="PushMapToRemote">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Push Single Map To Remote</h5>
        </div>

        <div class="ibox-content">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="GameServerId" type="hidden" />

            <div class="form-group">
                <label asp-for="MapName" class="control-label"></label>
                <input asp-for="MapName" class="form-control" />
                <span asp-validation-for="MapName" class="text-danger"></span>
            </div>

        </div>

        <div class="ibox-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-rotate"> Sync to Remote</i></button>
            </div>
        </div>
    </div>

</form>