<div class="footer">
    <div class="float-right">
        <a href="https://xtremeidiots.com" target="_blank">XtremeIdiots</a> Portal
    </div>
    <div>
        <strong>Copyright</strong> Fraser Molyneux &copy; @DateTime.UtcNow.Year
    </div>
</div>