<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="personal-public-packages" value="https://pkgs.dev.azure.com/frasermolyneux/Personal-Public/_packaging/personal-public-packages/nuget/v3/index.json" />
  </packageSources>
</configuration>