<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="XI.Packages" value="https://pkgs.dev.azure.com/frasermolyneux/XtremeIdiots/_packaging/XI.Packages/nuget/v3/index.json" />
    <add key="MX.Packages" value="https://pkgs.dev.azure.com/frasermolyneux/MX-Consulting/_packaging/MX.Packages/nuget/v3/index.json" />
    <add key="FM.Packages" value="https://pkgs.dev.azure.com/frasermolyneux/Personal/_packaging/FM.Packages/nuget/v3/index.json" />
  </packageSources>
</configuration>