trigger: none
pr: none

schedules:
  - cron: "10 2 * * *"
    displayName: "Nightly Destroy Development (02:10 UTC)"
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'windows-latest'

resources:
  repositories:
    - repository: ado-pipeline-templates
      type: github
      name: frasermolyneux/ado-pipeline-templates
      endpoint: github.com_frasermolyneux

stages:
  - stage: clean_up_dev_resources
    jobs:
      - deployment: clean_up_dev_resources
        environment: xtremeidiots-portal-Development
        workspace:
          clean: all

        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  displayName: DestroyDevResourceGroup
                  inputs:
                    azureSubscription: spn-xtremeidiots-portal-development
                    scriptType: "pscore"
                    scriptLocation: "inlineScript"
                    inlineScript: |
                      $params = Get-Content "$(System.DefaultWorkingDirectory)/params/dev.json" | ConvertFrom-Json
                      $envName = $params.parameters.environment.value
                      $location = $params.parameters.location.value
                      $instance = $params.parameters.instance.value

                      $resourceGroupName = "rg-portal-web-$envName-$location-$instance"

                      Write-Host "Deleting resource group $resourceGroupName"
                      az group delete --name $resourceGroupName --yes --no-wait
